@model Categorie

@{
    ViewData["Title"] = "Suppression catégorie";
}

<section class="flex-column">
    <h2 class="fw-bold">Confirmer la suppression de la catégorie @Model.Libelle ?</h2>
    <p class="text-danger">Cette action est définitive ! </p>
    <hr />
</section>

<form asp-action="DeleteCategorieConfirmation" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">
        Oui, supprimer
    </button>

    <a asp-action="IndexCategorie" class="btn btn-secondary">
        Annuler
    </a>
</form>