.panel_compte {
    background-color: #FFFFFF;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.green_div {
    background-color: #d8f9da
}

.red_div {
    background-color: #ffe3e7
}

.graph-container {
    position: relative;
    height: 180px;
}

.link-transac {
    text-decoration: none;
}

.table_compte-transac {
    max-height: 180px;
    overflow-y: auto;
}

.table_compte-container {
    max-height: 250px;
    overflow-y: auto;
}