.panel_compte {
    background-color: #FFFFFF;
    flex-basis: 260px;
    flex-grow: 0;
    flex-shrink: 0;
}

.green_div {
    background-color: #d8f9da
}

.red_div {
    background-color: #ffe3e7
}
