@model List<Compte>
@{
    ViewData["Title"] = "Liste des comptes";
}

<h2>Liste des comptes</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Montant</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>